.title {
    color:blueviolet;
    width: 1170px;
    padding: 0 15px;
    opacity:0.7;
    background-color:green;
  } 

  .title2 {
    color:blue;
    width: 1170px;
    padding: 0 15px;
    opacity:0.3;
  } 

.container{
    color:White;
    padding: 180px 0 500px 0;
    background-image:url(https://asamikizaki.github.io/mysite/B6E4ADD4-CFB2-4DD9-9FE9-08DD478F77DF.jpeg);
    background-size:cover;
}

.btn {
    padding: 8px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    background-color: #239b76;
    box-shadow: 0 7px #1a7940;
    transition: all 0.1s;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    position:relative;
    top: 7px;
    box-shadow:none;
}


a{
    text-decoration: none;
}
